title{
  text-align: center;
}

body{
background-color: #f7ebec;
}

.h1{
    font-family: 'Sen', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    text-align: center;
  }

   p{
      font-family: 'Montserrat', sans-serif;
      font-size: large;
      text-align: center;
      color: black;
    }

  li{
    float: right;
  }

  li a{
    display: block;
    color: black;
    padding: 14px;
    text-align: center;
  }

  li a:hover{
    background-color: #111;
  }

#card-title{ 
  align-items: center;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  color: black; 
}

#card-text{
  font-family: 'Sen', sans-serif;
  color: black;  
}
